HotelRequestClient/HotelRequestClient/Web References/localhost/HotelReservationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://travelmanagementsystem.org/hotelreservationinterface/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://travelmanagementsystem.org/hotelreservationinterface/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://travelmanagementsystem.org/hotelreservationinterface/">
      <s:element name="MakeReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReservationLine" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakeReservationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeReservationSoapIn">
    <wsdl:part name="parameters" element="tns:MakeReservation" />
  </wsdl:message>
  <wsdl:message name="MakeReservationSoapOut">
    <wsdl:part name="parameters" element="tns:MakeReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelReservationInterfaceSoap">
    <wsdl:operation name="MakeReservation">
      <wsdl:input message="tns:MakeReservationSoapIn" />
      <wsdl:output message="tns:MakeReservationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelReservationInterfaceSoap" type="tns:HotelReservationInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeReservation">
      <soap:operation soapAction="http://travelmanagementsystem.org/hotelreservationinterface/MakeReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelReservationInterfaceSoap12" type="tns:HotelReservationInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeReservation">
      <soap12:operation soapAction="http://travelmanagementsystem.org/hotelreservationinterface/MakeReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelReservationInterface">
    <wsdl:port name="HotelReservationInterfaceSoap" binding="tns:HotelReservationInterfaceSoap">
      <soap:address location="http://localhost/HotelReservationService.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelReservationInterfaceSoap12" binding="tns:HotelReservationInterfaceSoap12">
      <soap12:address location="http://localhost/HotelReservationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>