TravelManagementSystem/TravelManagementSystem/Service References/HotelReservation/HotelReservationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MakeReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReservationLine" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeReservationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>